*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, rgb(200, 45, 71) ,rgba(255, 0, 102, 0.968));
    background-repeat: no-repeat;
    background-size: cover;
   

}
main{
    display: flex;
    width: 1000px;
    height: 400px;
    position: relative;
    margin: 100px auto 100px
   
}


.box{
    background-color: antiquewhite;
    box-shadow: 3px -3px 40px black;
    position: absolute;
    padding:10px;
    width:300px;
    border-radius: 24px;
    text-align: center;
}

.box1{
    left: 350px;
}

.box2{
    left: 700px;
}

div img{
    width: 150px;
    height:150px;
    border-radius: 50%;
}

button{
    margin-top: 20px;
    padding: 7px 10px;
    background-color: rgb(28, 28, 175);
    color: white;
    border-radius: 10px;
}

footer{
    color: white;
    background-color: rgb(61, 59, 59);
    font-family: "Nunito Sans", sans-serif;

}

.f1{
    
    display:grid;
    grid-template-columns: 8fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    font-size: .8rem;
    align-items: center;
    text-align:left;
    height:70px;
}


.f1 img{
    width:100px;
    height:50px;
    object-fit: contain;
}

.f1hr{
    color:grey
}

.f2{
display:flex;
width:60%;
justify-content: space-between;
padding:30px 20px;
padding-bottom: 0;
margin-left:0;
margin-bottom: 0;
}

.f2 li{
    padding:5px;
}

.f2_1,.f2_2,.f2_3{
    list-style-type: none;
}

.ftlangp{
    display:inline
}

.ftlang{
    display: inline;
}

.ftlangflex{
    display:flex;
    font-size: 1.3rem;
    width:140px;
    text-align: center;
    align-items: center;
    padding:5px 6px;
    position:relative;
    bottom:80px;
    left:80%;
    border: 1px solid white;
    justify-content: space-evenly;
}

.ftlogo{
    width:150px;
    margin:0 40px;
}

.ftcopyrights{
    font-size:small;
    display: inline;
    position:relative;
    bottom:50px;
    left:60%;
}
